{% extends 'security/base-form.html.twig' %}

{% block title %}Demande de réinitialisation{% endblock %}

{% block form %}
    <h2>Demande de réinitialisation</h2>
    <p class="small-text">Veuillez saisir votre identifiant pour formuler une demande de réinitialisation de mot de passe.</p>
    {{ form_start(form) }}
    <div class="row mb-4">
        <div class="col-md-8">{{ form_widget(form.email) }}</div>
        <div class="col-md-4">
            <input type="submit" value="Envoyer">
        </div>
    </div>
    {{ form_end(form) }}
    <a href="{{ path('security_login') }}" class="sign-up"><span class="keep-color">Vous connaissez votre mot de passe ?</span> Connexion</a>
{% endblock %}