{% extends 'security/base-form.html.twig' %}

{% block title %}Réinitialiser mon mot de passe{% endblock %}

{% block form %}
    <h2>Réinitialiser mon mot de passe</h2>
    <p class="small-text">Veuillez saisir votre nouveau mot de passe</p>
    {{ form_start(form) }}
    <div class="box-input mb-2">
        {{ form_widget(form.password.first) }}
    </div>
    <div class="box-input mb-2">
        {{ form_widget(form.password.second) }}
    </div>
    <div class="row mb-4">
        <div class="col-md-7"></div>
        <div class="col-md-5">
            <input type="submit" value="Envoyer">
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}