{% extends 'base-email.html.twig' %}

{% block title_mail %}
    {{ title }}
{% endblock %}

{% block message %}

    <p>Bonjour {{ user.prenom }},</p>
    <p>Suite à votre demande de réinitialisation de mot de passe, voici un lien vous permettant de le modifer. Attention ce lien expirera dans 24 heures.</p>
    <div style="padding: 30px 0">
        <a href="{{ absolute_url(path('security_reset_password', { 'processKey' : user.processKey })) }}"
           style="display: block; width: 300px; background-color: #FFFFFF; padding: 5px 20px; color: #173b73; border-radius: 4px; text-align: center; margin: 0 auto"
        >Changer votre mot de passe</a>
    </div>

{% endblock %}