{% extends 'base-adm.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/admin.css') }}">
{% endblock %}

{% block body %}
    <div class="high-title">
        <h1>Espace d'administration</h1>
        <p>Bienvenue sur l'espace d'administration</p>
    </div>
{% endblock %}
